<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Reverse Obscurity
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Reverse Obscurity by FCT</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">.: ml @ uChi :.</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/index.html">home</a>
							</li>
							<li>
								<a href="/whoWeAre.html">who we are</a>
							</li>
							<li>
								<a href="#">links</a>
							</li>
							<li>
								<a href="#">calendar</a>
							</li>
							<li class="last">
								<a href="#">contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="banner">
					<img src="images/pic1.jpg" width="1124" height="212" alt="" />
				</div>
				<div id="main">
						<div id="cal">
							<h2>
							</h2>
							<p>
									
									<iframe src="https://www.google.com/calendar/embed?showTz=0&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=ee0vku7a4s26s5o2t3855vqfqg%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FChicago" style=" border-width:0 " width="1150" height="800" frameborder="0" scrolling="no"></iframe>
								
								</p>
						</div>
						
						<br class="clear" />
				</div>
				<div id="footer">
					<div id="footerContent">
						<h3>
							Things to consider
						</h3>
						<p>
							Spanning interetersts in Non paretmtics to vision, to energneirning real world solutions to complicated ML problems.  Our machine learning group covers a wide variaty of aproaches and interestst.  In the past our reserachers have worked closely with TTIC, ETC and ETC.
							
							
						</p>
					</div>
					<div id="footerSidebar">
						<h3>
							Important links
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="http://ml.cs.uchicago.edu/">Official University of Chicago Machine Learning Website</a>
							</li>
							<li>
								<a href="http://www.cs.uchicago.edu/">Computer Science Department</a>
							</li>
						</ul>
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; University of Chicago Machine Learning Group | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>
			</div>
		</div>
    </body>
</html>
