<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Reverse Obscurity
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Reverse Obscurity by FCT</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Wells Dog and Cat Hospital</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/index.html">Home</a>
							</li>
							<li>
								<a href="/whoWeAre.html">About Us</a>
							</li>
							<li>
								<a href="#">Services</a>
							</li>
							<li>
								<a href="#">Boarding</a>
							</li>
							<li class="last">
								<a href="#">Contact Us</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="banner">
					<img src="images/pic1.jpg" width="1124" height="212" alt="" />
				</div>
				<div id="main">
				    <div id="sidebar1">
						<img class="top" src="images/sidebar.jpg" width=240  alt="image" />
					</div>
					
					<div id="sidebar2">
						<h3>Welcome!</h3>
						<p>You've arrived at the Wells Dog and Cat hospital!  With over 3000 days of serving souther Maine's cats and dogs!  </p>
						
						<h3>Recent Publications</h3>
						
						<ul class="linkedList">
							<li class="first">
								<a href="#">Don't Stop </a>
							</li>
							<li>
								<a href="#">Keep Going</a>
							</li>
							<li>
								<a href="#">Read this</a>
							</li>
							<li>
								<a href="#">Something we wrote!</a>
							</li>
							<li>
								<a href="#">Wish we had done this</a>
							</li>
							<li>
								<a href="#">Rutrum orci amet et lorem</a>
							</li>
							<li>
								<a href="#">Convallis sodales malesuada</a>
							</li>
							<li>
								<a href="#">Faucibus imperdiet adipiscing</a>
							</li>
							<li class="last">
								<a href="#">Dictum in amet phasellus</a>
							</li>
						</ul>
					</div>
					
					<div id="content">
						<div id="box1">
							<p>{{ content }}</p>
						</div>
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
				
				<div id="footer">
					<div id="footerContent">
						<h3>Things to consider</h3>
						<p>This is for addresses and crap</p>
					</div>
					
					<div id="footerSidebar">
					    
						<h3>Important links</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="http://www.wellsdogandcat.com/">WELLS DOG AND CAT?</a>
							</li>
							<li>
								<a href="http://www.google.com/">Something else</a>
							</li>
						</ul>
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; Wells Dog and Cat| Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>
			</div>
		</div>
    </body>
</html>
