<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Reverse Obscurity
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Reverse Obscurity by FCT</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
		<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Wells Dog and Cat Hospital</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/index.html">Home</a>
							</li>
							<li>
								<a href="/whoWeAre.html">About Us</a>
							</li>
							<li>
								<a href="#">Services</a>
							</li>
							<li>
								<a href="#">Boarding</a>
							</li>
							<li>
								<a href="/calander.html">Calendar</a>
							</li>
							<li class="last">
								<a href="#">Contact Us</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="banner">
					<img src="/images/pic1.jpg" width="1124" height="212" alt="" />
				</div>
				<div id="main">
				    <div id="sidebar1">
				        
						<h3>Recent Events</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">"Learning From Data", M.Stoer</a>
							</li>
							<li>
								<a href="#">"A Presentation" G.Larsson, </a>
							</li>
							<li>
								<a href="#">"A talk" J.Santerre</a>
							</li>
						</ul>
						
						<h3>Up Coming Events</h3>
							<p>
								In case you missed the announcement, here are some Machine Learning related events on the horizon. 
							</p>
							<ul class="linkedList">
								<li class="first">
									<a href="#">A Talk</a>
								</li>
								<li>
									<a href="#">A conference</a>
								</li>
								<li>
									<a href="#">A group reading</a>
								</li>
								<li>
									<a href="#">We can make this a type of post and automatically include them</a>
								</li>
								<li class="last">
									<a href="#">Imperdiet placerat mi ornare</a>
								</li>
							</ul>
							
							<h3>Some Other Title</h3>
						
						<img class="top" src="/images/identity.logo.01.jpg" width=240  alt="image" />
						<p>Interested in applying? Visit our <a href="http://www.cs.uchicago.edu/">computer science</a> page for details.</p>
					</div>
	
					<div id="contentPost">
						<div id="boxPost">
							<p>{{ content }}</p>
						</div>
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
				
				<div id="footer">
					<div id="footerContent">
						<h3>Things to consider</h3>
						<p>Spanning interests from theory to vision, to engineering real world solutions to complicated ML problems.  Our machine learning group covers a wide variety of approaches and interests.  In the past our researchers have worked closely with TTIC, ETC and ETC.</p>
					</div>
					
					<div id="footerSidebar">
					    
						<h3>Important links</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="http://ml.cs.uchicago.edu/">Official University of Chicago Machine Learning Website</a>
							</li>
							<li>
								<a href="http://www.cs.uchicago.edu/">Computer Science Department</a>
							</li>
						</ul>
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; University of Chicago Machine Learning Group | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>
			</div>
		</div>
    </body>
</html>
