<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Reverse Obscurity
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Wells Dog and Cat Hospital, Southern Maine</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Wells Dog and Cat Hospital</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/index.html">Home</a>
							</li>
							<li>
								<a href="/2013/01/01/Services.html"> Services</a>
							</li>
							<li>
								<a href="/2013/01/01/Staff.html">Staff</a>
							</li>
							<li>
								<a href="/2013/01/01/Boarding.html">Boarding</a>
							</li>
														
							<li>
								<a href="/2013/01/01/Directions.html"> Directions</a>
							</li>
							<li>
								<a href="https://www.facebook.com/pages/Wells-Dog-and-Cat-Hospital/379096880346?sk=photos_albums">Gallery</a>
							</li>
							<li>
								<a href="/2013/01/01/Links.html">Links</a>
							</li>							
						
						</ul>
						<br class="clear" />
					</div>
				</div>
				
				<div id="banner" align="center" > 
					<a href="#"><img src="/images/SM/SM-1.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-2.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-3.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-59.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-5.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-6.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0203.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0042.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0122.jpg"></a>
					<a href="#"><img src="/images/facebookSM/Red0098.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-10.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-11.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-12.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-13.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0100.jpg"></a> 


				
					
				</div>
				<div id="main">
				    <div id="sidebar1" align="center">
					<a href="#"><img src="/images/SM/SM-16.jpg"></a> 

				    <a href="#"><img src="/images/SM/SM-15.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-17.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-19.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-18.jpg"></a>
					<a href="#"><img src="/images/SM/SM-20.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-28.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-21.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-22.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-32.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-36.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-23.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0135.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0013.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0105.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-41.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-29.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-26.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-27.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-30.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-35.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-31.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-33.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-37.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0143.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-40.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-42.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0114.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-43.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-44.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-45.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-7.jpg"></a>  
					</div>
					
					<div id="sidebar2">
						<h2>Welcome!</h2>
						<p><b>Wells Dog and Cat Hospital</b> is dedicated to providing quality medical and surgical service to dogs and cats.  Our goal is to enable and assist our patients to live long healthy and happy lives. <br> <b>Emery Santerre DVM</b> has over 30 years experience treating dogs and cats in Southern Maine.  He has a loyal following and is always pleased to meet new pets and clients.  Our <a href="/2013/01/01/Staff.html">staff</a>, all enthusiastic pet owners themselves, have many years of experience in animal health care.  They are happy to greet you and facilitate your requests.  We pride ourselves on prompt care and attention to your needs.</p>
<br><br>
<b>Wells Dog and Cat Hospital</b><br>
<b>418 Sanford Road</b><br>
<b>Wells, ME  04090</b><br>
<br>
Phone:  207-646-8323<br>
Fax:    207-251-4899<br>
E-mail: wellsdogcat@gmail.com<br>
<b>Hours:</b><br>
Mon-Fri   8am - 5pm<br>
Saturday  8am - 12 noon<br>
Sunday    9am - 10am (boarders)<br>
 <br>
 <br>
Join us on <a href="https://www.facebook.com/pages/Wells-Dog-and-Cat-Hospital/379096880346?ref=ts&fref=ts"target="_blank">Facebook</a><br>
Find us on <a href="https://plus.google.com/113066442326208265180/about?gl=us&hl=en"target="_blank">Google</a><br><br>

<img src="/images/bb.jpg"width="200" height="100"/><br>
<a href="http://www.bbb.org/boston/business-reviews/veterinarians/wells-dog-cat-hospital-in-wells-me-122601/
"target="_blank">Member Better Business Bureau </a><br><br>	<br>	
Have we earned 5 stars?<br>							    
								<a href="https://accounts.google.com/ServiceLogin?hl=en&gpsls=LOCAL&service=oz&ltmpl=eslr&shdf=CrgCCxIGbWFwaW1nGn0vL3d3dy5nb29nbGUuY29tLy9tYXBzL3Z0L2RhdGE9cGJndmRpNGluU05kcjBuSnJiQkVtWWlYSllyM0FLdFdiLTcybEdpSmlRQTJFMFJwaG1oNlNadDh6NjNkUzE1ODRyZXc1QnRIdnNNZGJTV21CTkJ0SFNOVVhzb3FTdwwLEghjb3ZlcmltZxp6aHR0cHM6Ly9saDUuZ29vZ2xldXNlcmNvbnRlbnQuY29tLy0zTUlZR1N3NDJTNC9VQmZJYVMtWWx2SS9BQUFBQUFCT0h6WS8wLUdBeG1YTGp2Zy9zMjIwL1dlbGxzJTJCRG9nJTJCYW5kJTJCQ2F0JTJCSG9zcGl0YWwMCxIHcmF3bmFtZRoaV2VsbHMgRG9nIGFuZCBDYXQgSG9zcGl0YWwMEgZleHRyYTIiFGiAyZLTuImtpSIKv5CTCGFPRx7XKAEyFHc4YheQpM4EA7SGpxpk1KYpHsAp&continue=https://plus.google.com/113066442326208265180/about?hl%3Den%26socfid%3Dweb:lu:result:writeareview%26socpid%3D1%26review%3D1"target="_blank">Let the world know!</a><br>

<br><br>
					<a href="#"><img src="/images/facebookSM/Red0095.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0051.jpg"></a> 
					
					<a href="#"><img src="/images/SM/SM-49.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-50.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-51.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-52.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-53.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-58.jpg"></a> 
					<a href="#"><img src="/images/facebookSM/Red0109.jpg"></a> 
					<a href="#"><img src="/images/SM/SM-62.jpg"></a> 
                                        <a href="#"><img src="/images/facebookSM/Red0150.jpg"></a>
					</div>
					
					<div id="content">
						<div id="box1">
						    <br><h1><a href="{{ page.url }}">{{ page.title }}</a></h1><br>
							<p>{{ content }}</p>
						</div>
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
			
				
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; Wells Dog and Cat| Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>
			</div>
		</div>
    </body>
</html>
