<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Reverse Obscurity
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Reverse Obscurity by FCT</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">.: ml @ uChi :.</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/index.html">home</a>
							</li>
							<li>
								<a href="/whoWeAre.html">who we are</a>
							</li>
							<li>
								<a href="#">research groups</a>
							</li>
							<li>
								<a href="#">links</a>
							</li>
							<li>
								<a href="/calander.html">calendar</a>
							</li>
							<li class="last">
								<a href="#">contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="banner">
					<img src="images/pic1.jpg" width="1124" height="212" alt="" />
				</div>
				<div id="main">
					<div id="sidebar1">
						<h3>
							Welcome!
						</h3>
						<p>
							You've arrived at the quasi-formal students group of Machine Learning at the University of Chicago.  ML is a growing group at the U of C, and while our research groups and approaches may be very different this is one great place to get a chance to see all the different work we are engaged in.  Be sure to have a look at some of the most <a href="#">noteworthy publications</a> by past and present researchers.  
						</p>
						<h3>
							Recent Publications
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">"Binary-Feature Detection Cascades for Speech Recognition"M.Stoer - Masters </a>
							</li>
							<li>
								<a href="#">"Optimization Methods in Machine Learning"A. Saha - PhD</a>
							</li>
							<li>
								<a href="#">Convallis sodales malesuada</a>
							</li>
							<li>
								<a href="#">Faucibus imperdiet adipiscing</a>
							</li>
							<li>
								<a href="#">Diam porta at sed tortor</a>
							</li>
							<li>
								<a href="#">Rutrum orci amet et lorem</a>
							</li>
							<li>
								<a href="#">Convallis sodales malesuada</a>
							</li>
							<li>
								<a href="#">Faucibus imperdiet adipiscing</a>
							</li>
							<li class="last">
								<a href="#">Dictum in amet phasellus</a>
							</li>
						</ul>
					</div>
					<div id="sidebar2">
						<h3>
							Recent Events
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">"Learning From Data", M.Stoer</a>
							</li>
							<li>
								<a href="#">G.Larsson, Something Else</a>
							</li>
							<li>
								<a href="#"> A third thing</a>
							</li>
							<li>
								<a href="#">Duis rutrum urna congue</a>
							</li>
						</ul>
						
						<h3>
								Up Coming Events
							</h3>
							<p>
								In case you missed the announcement, here are some Machine Learning related events on the horizon. 
							</p>
							<ul class="linkedList">
								<li class="first">
									<a href="#">A Talk</a>
								</li>
								<li>
									<a href="#">A conference</a>
								</li>
								<li>
									<a href="#">A group reading</a>
								</li>
								<li>
									<a href="#">We can make this a type of post and automacially include them</a>
								</li>
								<li class="last">
									<a href="#">Imperdiet placerat mi ornare</a>
								</li>
							</ul>
							
							<h3>
							Some Other Title
						</h3>
						
						<img class="top" src="images/identity.logo.01.jpg" width=240  alt="image" />
						<p>
							Interested in applying? Visit our <a href="http://www.cs.uchicago.edu/">computer science</a> page for details. 
						</p>
					</div>
					<div id="content">
						<div id="box1">
							<h2>
							</h2>
							<p>
								<b>Note:</b>  Since this is only a quai-formal website, the list below is not considered exhaustive.
								These are just the students and researchers who've been particularly interested/active with this group.<br><br>  
								Visit the official <a href="https:\\ml.cs.uchicago.edu"target="_blank">uChicago ML</a> Website for exhaustive list.<br><br>
								  
								<b>Core Faculty and Students</b>
								<dl>
								<dt><a href="#"><b>Prof. Yali Amit</b></a></dt>
								<li><a href="#">Gustav Larson</a></li>
								<li><a href="#">Mark Stoehr</a></li>
								</dl>
								<a href="http://galton.uchicago.edu/~amit/" target="_blank">Amit Group Page</a>
								<br>
								<br>
								<dl>
								<dt><a href="#"><b>Prof. John Goldsmith</b></a></dt>
								</dl>
								<br>
								
								<dt><a href="#"><b>Prof. Risi Kondor</b></a></dt>
								<li><a href="#">Nedelina Teneva</a></li>
								<li><a href="#">Vikas Garg</a></li>
								</dl>
								<br>
								
								<dt><a href="#"><b>Prof. John Lafferty</b></a></dt>
								<li><a href="#">Qinqing Zheng</a></li>
								<li><a href="#">Ankan Saha(PhD - 2013)</a></li>
								</dl>
								<br>
									
								<dt><a href="#"><b>Prof. Lek-Heng Lim</b></a></dt>
								<li><a href="#">John Santerre</a></li>
								</dl>
								<br>
								
								<b>Affiliated Faculty</b>
								<dt><a href="http://people.cs.uchicago.edu/~glk/" target="_blank"><b>Prof. Gordon Kindlmann</b></a></dt>
								</dl>
								<dt><a href="http://home.uchicago.edu/~gkobele/" target="_blank"><b>Prof. Gregory Kobele</b></a></dt>
								</dl>
								<dt><a href="http://www.ci.uchicago.edu/research/rzhetsky/" target="_blank"><b>Prof. Andrey Rzhetsky</b></a></dt>
								</dl>
								<dt><a href="http://hum.uchicago.edu/~jriggle/" target="_blank"><b>Prof. Jason Riggle</b></a></dt>
								</dl>
								<dt><a href="http://stephenslab.uchicago.edu/" target="_blank"><b>Prof. Matthew Stephens</b></a></dt>
								
								<br>
								<br>
								<b>Undergrads</b>
								<li>Stephen Rosen</li>
								
								<br><br>
								<b>In Memoriam</b>
								<a href="http://www.cs.uchicago.edu/inmemoriam" target="_blank"><b>Prof. Partha Niyogi</b></a>	
								<br><br>
								
								
								</p>
						</div>
						
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
				<div id="footer">
					<div id="footerContent">
						<h3>
							Things to consider
						</h3>
						<p>
							Spanning interetersts in Non paretmtics to vision, to energneirning real world solutions to complicated ML problems.  Our machine learning group covers a wide variaty of aproaches and interestst.  In the past our reserachers have worked closely with TTIC, ETC and ETC.
							
							
						</p>
					</div>
					<div id="footerSidebar">
						<h3>
							Important links
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="http://ml.cs.uchicago.edu/" target="_blank">Official University of Chicago Machine Learning Website</a>
							</li>
							<li>
								<a href="http://www.cs.uchicago.edu/" target="_blank">Computer Science Department</a>
							</li>
						</ul>
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; University of Chicago Machine Learning Group | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>
			</div>
		</div>
    </body>
</html>
